/*Start Global Rules*/

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;

}
::-webkit-scrollbar-track {
    background-color: white;

}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);

}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);

}

/*End Global Rules*/

.page {
    display: flex;
    background-color: #f1f5f9;
    min-height: 100vh;
}
/*Start Sidebar*/

.sidebar {
    background-color: white;
    padding: 20px;
    position: relative;
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.sidebar > h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
    bottom: -20px;
    left: 50%;

}
.sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);

}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 5px

}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
     
}

@media (max-width:767px) {
    .sidebar {
        padding: 10px;
        width: 58px;
    }
    .sidebar ul li a span {
        display: none;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
}
/*End Sidebar*/

/*Start Content*/
.content {
    width: 100%;
    overflow: hidden;
}
.content .head {
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .head .search {
    position: relative;
}
.content .head .search::before {
    position: absolute;
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    font-size: 14px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-color);
}
.content .head .search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 200px;
    transition: width 0.3s;
    font-size: 15px;
}
.content .head .search input:focus {
    width: 220px;

}
.content .head .search input:focus::placeholder {
    opacity: 0;
    
}
.content .head .icons {
    display: flex;
    align-items: center;
}
.content .head .icons .notification {
    position: relative;
}
.content .head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    right: -5px;
    top: -5px;
}
.content .head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.page h1 {
    position: relative;
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
    border-radius: 5px;

}
.page h1::before {
    width: 120px;
    background-color: white;

}
.page h1::after {
    width: 40px;
    background-color: black;

}

/*Start Wrapper*/

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.wrapper .welcome {
    background-color: white;
    border-radius: 10px;
}

@media (max-width:767px) {
    .wrapper .welcome {
        text-align: center;
        display: block;
    }
}

@media (max-width:767px) {
    .wrapper {
        gap: 10px;
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*End Wrapper*/

/*Start Welcome Widget*/
.welcome {
    overflow: hidden;
}
.wrapper .welcome .intro {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}
.wrapper .welcome .intro h2 {
    margin: 0;
}
.wrapper .welcome .intro p {
    margin-top: 5px;
    color: var(--grey-color);
}
.wrapper .welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    margin-top:  -32px;
    margin-left: 20px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid white;
    box-shadow: 0 0 5px #ddd;
}
@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .intro img {
        display: none;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }

    .welcome .body {
        flex-direction: column;
    }
    
}
.wrapper .welcome .body {
    display: flex;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

}
.wrapper .welcome .body > div {
    /*next to each other*/
    flex: 1;
}


.wrapper .welcome .body span {
    display: block;
    color: var(--grey-color);
    font-size: 14px;
    margin-top: 10px;
}
.wrapper .welcome .visit {
    display: block;
    color: white;
    background-color: var(--blue-color);
    font-size: 14px;
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    transition: 0.3s;
    padding: 4px 10px;

}
.wrapper .welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

/*End Welcome Widget*/

/*Start Quick Draft Widget*/
.quick-draft {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.quick-draft h2 {
    margin-top: 0;
    margin-bottom: 10px;

}
.quick-draft p {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--grey-color);
    font-size: 15px;
}

.quick-draft form .title {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #eee;

}
.quick-draft form textarea {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #eee;
    resize: none;
    min-height: 180px;

}
.quick-draft form .save {
    display: block;
    color: white;
    background-color: var(--blue-color);
    border: none;
    border-radius: 6px;
    width: fit-content;
    font-size: 14px;
    margin: 0 15px 15px auto;
    transition: 0.3s;
    padding: 4px 10px;
    cursor: pointer;

}
.quick-draft form .save:hover {
    background-color: var(--blue-alt-color);
}

/*End Quick Draft Widget*/
/*Start Targets*/

.targets {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.targets h2 {
    margin-top: 0;
    margin-bottom: 10px;

}
.targets p {
    color: var(--grey-color);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}
.targets-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.targets-row .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background-color: rgb(0 117 225 / 20%);
}
.targets-row .icon i {
    color: var(--blue-color);
}
.targets-row .details {
    flex: 1;

}
.targets-row .details .progress {
    position: relative;
    background-color: rgb(0 117 225 / 20%);
    height: 4px;

}
.targets-row .details .progress > span {
    background-color: var(--blue-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets-row .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    background-color: var(--blue-color);
    color: white;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 6px;


}
.targets-row .details .progress > span span::after {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: var(--blue-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

}
.targets-row .details span:first-child {
    font-size: 14px;
    color: var(--grey-color);
}
.targets-row .details span:nth-child(2) {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.targets-row .details .progress > span .orange {
    background-color: var(--orange-color);
}
.targets-row .details .progress > span span .orange {
    background-color: var(--orange-color);
}
.targets-row .details .progress .orange {
    background-color: var(--orange-color);

}
.targets-row  .details .progress > .orange span::after {
    border-top-color: var(--orange-color);

}

.targets-row .details .progress > span .green {
    background-color: var(--green-color);
}
.targets-row .details .progress > span span .green {
    background-color: var(--green-color);
}
.targets-row .details .progress .green {
    background-color: var(--green-color);

}
.targets-row  .details .progress > .green span::after {
    border-top-color: var(--green-color);

}


/*End Targets*/

/*Start Tickets*/

.tickets {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.tickets h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.tickets p {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--grey-color);
    font-size: 15px;
}

.box-ticket {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap:20px;
}
.box-ticket .box {
    padding: 20px;
    border-radius: 10px;
    color: var(--grey-color);
    font-size: 13px;
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}
@media (max-width:767px) {
    .box-ticket .box {
        width: 100%;

    }
}
.box-ticket .box i {
    color: var(--orange-color);
    margin-bottom: 10px;

}
.box-ticket .box span {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

/*End Tickets*/

/*Start Latest News*/

.latest-news {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.latest-news h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .latest-news {
        text-align: center;
    }
    .latest-news .news-row {
        display: block;
    }
    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
    }
}

.latest-news .news-row {
    display: flex;
    align-items: center;

}
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;

}
.latest-news .news-row .info {
    flex-grow: 1;
}
.latest-news .news-row .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

.latest-news .news-row .info p {
    margin: 0;
    font-size: 14px;
    color: var(--grey-color);

}
.latest-news .news-row .label {
    background-color: #eee;
    font-size: 13px;
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;


}

/*End Latest News*/

/*Start Tasks*/

.tasks {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.tasks h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.tasks .tasks-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tasks .tasks-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;

}
.tasks .tasks-row .info {
    flex-grow: 1;
}
.tasks  .done {
    opacity: 0.3;
}
.tasks  .done h3,
.tasks  .done p {
    text-decoration: line-through;
}
.tasks .tasks-row .info h3{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
    
}
.tasks .tasks-row .info p {
    margin: 0;
    color: var(--grey-color);
}
.tasks .tasks-row .delete {
    cursor: pointer;
    transition: 0.3s;

}
.tasks .tasks-row .delete:hover {
    color: var(--red-color);
    
}

/*End Tasks*/

/*Start Top Search*/
.top-search {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.top-search h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.top-search .items-head {
    display: flex;
    justify-content: space-between;
    color: var(--grey-color);
    margin-bottom: 10px;
}

.top-search .items {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

}
.top-search .items .count {
    background-color: #eee;
    font-size: 13px;
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;

}
/*End Top Search*/

/*Start Latest Uploads*/
.latest-uploads {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.latest-uploads h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.latest-uploads ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.latest-uploads ul li .uploads-label {
    background-color: #eee;
    font-size: 13px;
    /*button shape*/
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;
}
.latest-uploads .uploads-info {
    display: flex;
    align-items: center;
}

.latest-uploads .uploads-info img {
    margin-right: 8px;
    width: 41px;
    height: 41px;
}
.latest-uploads .uploads-info .uploads-span span:first-child {
    display: block;
}
.latest-uploads .uploads-span span:nth-child(2){
    font-size: 15px;
    color: var(--grey-color);

}

.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
/*End Latest Uploads*/

/*Start Latest Project*/
.latest-project {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.latest-project h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.latest-project ul {
    margin: 0;
    position: relative;
}
.latest-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.latest-project ul li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.latest-project ul li.done::before {
    background-color: var(--blue-color);
    
}
.latest-project ul li.current::before {
    animation: change-color 0.8s alternate infinite;    
}
.latest-project ul li {
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.latest-project .launch-icon {
    position: absolute;
    width: 130px;
    height: 170px;
    right: 15px;
    bottom: 0;
    opacity: 0.1;

}
@media (width:767px) {
    .latest-project .launch-icon {
        display: none;
    }
}
/*End Latest Project*/

/*Start Reminders*/
.reminders {
    padding:20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.reminders h2 {
    margin-top: 0;
    margin-bottom: 25px;
}
.reminders ul {
    margin: 0;
}
.reminders ul li {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.reminders ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
    border-left: 2px solid var(--red-color);
}
.reminders ul li .key {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-color: var(--blue-color);
    border-radius: 50%;


}
.reminders ul li .reminders-info {
    padding-left: 15px;
}
.reminders ul li .reminders-info p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.reminders ul li .reminders-info p {
    font-size: 13px;
    color: var(--grey-color);

}
/*End Reminders*/

/*Start Latest Post*/
.latest-post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.latest-post h2 {
    margin-top: 0;
    margin-bottom: 25px;
}
.latest-post .top {
    display: flex;
    align-items: center;
}
.latest-post .top .avatar {
    margin-right: 15px;
    width: 48px;
    height: 48px;
}
.latest-post .top span:first-child {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.latest-post .top span:last-child {
    color: var(--grey-color);
}
.post-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
    line-height: 1.8;
}
@media (width:767px) {
    .post-content {
        text-align: center;
    }
}
.post-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-color);
}

/*End Latest Post*/

/*Start Social*/
.social-media {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
.social-media h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.social-media .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    padding-left: 70px;

}

.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 52px;
    transition: 0.3s;
    align-items: center;
    height: 100%;
    color: white;
}
.social-media .box i:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background-color:  rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i ,
.social-media .twitter a  {
    background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;

}
.social-media .facebook i ,
.social-media .facebook a {
    background-color: #1877f2;

}
.social-media .youtube {
    background-color: rgb(225 0 0 / 20%);
    color: #ff0000;

}
.social-media .youtube i ,
.social-media .youtube a {
    background-color: #ff0000;

}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0a66c2;

}
.social-media .linkedin i ,
.social-media .linkedin a {
    background-color: #0a66c2;

}

.social-media .box  a {
    font-size: 13px;
    color: white;
    /*button shape*/
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;


}

/*End Social*/

/*Start Projects Table*/
.projects {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}
.projects h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.projects .responsive-table {
    overflow-x: auto;
}

.projects .responsive-table table {
    font-size: 15px;
    width: 100%;
    min-width: 1000px;
    border-spacing: 0;
}
.projects .responsive-table thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td {
    padding: 15px;
}
.projects .responsive-table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;

}
.projects .responsive-table tbody td .label-green {
    color: white;
    background-color: var(--green-color);
}
.projects .responsive-table tbody td .label-blue {
    color: white;
    background-color: var(--blue-color);
}
.projects .responsive-table tbody td .label-red {
    color: white;
    background-color: var(--red-color);
}
.projects .responsive-table tbody td .label-orange {
    color: white;
    background-color: var(--orange-color);
}

.projects .responsive-table tbody td span {
    font-size: 13px;
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;

}
.projects .responsive-table tbody tr td:last-child {
    border-right: 1px solid #eee;
}
.projects .responsive-table tbody tr:hover td {
    background-color: #faf7f7;
}
.projects table img {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
/*End Projects Table*/


/*Start Settings*/

.settings-page {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 20px;
}
@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;

    }

}
.settings-page .settings-box {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.settings-page .settings-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.settings-page .settings-box p {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--grey-color);
    font-size: 15px;
}
.settings-page .settings-box .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.settings-page .settings-box .options .options-texts p {
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--grey-color);
    font-size: 13px;

}

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;

}
.toggle-switch {
    position: relative;
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    position: absolute;
    font-weight: 900;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    color: #aaa;
    left: 4px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);

}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);

    
}

.settings-page .close-message {
    display: block;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    min-height: 150px;
}

/*Start General Info And Security*/
.settings-page .input-box {
    margin-bottom: 15px;
}
.settings-page .input-box #First ,
.settings-page .input-box #Last , 
.settings-page .input-box .email  {
    display: block;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
}

.settings-page .input-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--grey-color);
}
.settings-page .input-box .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.settings-page .change-button {
    color: var(--blue-color);
    margin-left: 5px;

}
/*End General Info And Security*/

/*Start Security Info*/
.settings-page .security-box {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.settings-page .security-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.settings-page .security-box .text-pass p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--grey-color);

}
.settings-page .security-box .button {

    background-color: var(--blue-color);
    font-size: 13px;
    color: white;
    /*button shape*/
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;
    transition: 0.3s;

}
.settings-page .security-box .button:hover {
    background-color: var(--blue-alt-color);
}
.settings-page .security-box .grey-button {
    background-color: #eee;
    color: black;
    
    font-size: 13px;
    
    /*button shape*/
    width: fit-content;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    padding: 4px 10px;
}
.settings-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}
/*End Security Info*/

/*Start Social Media*/

.settings-page .input-icon {

    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.settings-page .input-icon i {

    color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    border-radius: 6px 0 0 6px;
    border-right: none;
    transition: 0.3s;

}
.settings-page .input-icon input {
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    padding-left: 10px;
}

.settings-page .input-icon:focus-within i {
    color: black;

}
/*End Social Media*/

/*Start Custom Checkbox*/

.settings-page .control {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings-page .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

.settings-page .control label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

}
.settings-page .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 4px;
    height: 14px;
    width: 14px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;

}
.settings-page .control label:hover::before {
    border-color: var(--blue-alt-color);
}
.settings-page .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 18px;
    width: 18px;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
    border-radius: 4px;

    

}
.settings-page .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}
/*End Custom Checkbox*/

/*Start Backup Manager*/

.settings-page .date {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings-page .date input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;

}
.settings-page .date label {
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    right: -8px;

}
.settings-page .date label::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    left: 0;
    top: 50%;
    margin: -11px;
   

}
.settings-page .date label::after {
    content: "";
    position: absolute;
    left: -6px;
    top: 3px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--blue-color);
    transition: 0.3s;
    transform: scale(0);


}
.settings-page .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}
.settings-page .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}
.settings-page .servers {
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
}
@media (max-width: 767px) {
    .settings-page .servers {
        flex-wrap: wrap;
        

    }
}
.servers .server {
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    border: 2px solid #eee;
    margin: 3px;
}
.servers .server label {
    display: block;
    margin: 15px;
    cursor: pointer;
}
.servers .server i {
    display: block;
    margin-bottom: 10px;
}
.servers input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.servers .server .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);

}
/*End Backup Manager*/



/*End Settings*/

/*Start Profile*/
.profile-page {
    margin: 20px;
}
.profile-page .overview {
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .overview .avatar-box {
    width: 300px;
    text-align: center;
    padding: 20px;

}
@media (min-width: 768px) {
    .profile-page .overview .avatar-box {
        border-right: 1px solid #eee;
    }
}
.profile-page .overview .avatar-box > img {
    border-radius: 50%;
    margin-bottom: 10px;
    height: 120px;
    width: 120px;
}
.profile-page .overview .avatar-box h3 {
    margin: 0;
}
.profile-page .overview .avatar-box .level-paragraph {
    color: var(--grey-color);
    margin-top: 10px;
}
.profile-page .overview .avatar-box .level-progress {
    position: relative;
    background-color: #eee;
    border-radius: 6px;
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .overview .avatar-box .level-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}
.profile-page .overview .avatar-box .rating-stars {
    margin-top: 10px;
    margin-bottom: 10px;

}
.profile-page .overview .avatar-box .rating-stars i {
    color: var(--orange-color);
    font-size: 13px;
}
.profile-page .overview .avatar-box .rating-paragraph {
    margin: 0;
    color: var(--grey-color);
    font-size: 13px;
}
.profile-page .info-box {
    width: 100%;
   

}
@media (max-width:767px) {
    .profile-page .info-box {
        text-align: center;
    }
}

.profile-page .info-box .info-boxx {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
    

}
.profile-page .info-box .info-boxx:hover {
    background-color: #f9f9f9;

}
@media (min-width:768px) {
    .profile-page .info-box .info-boxx > div {
        min-width: 245px;
        padding: 10px 0 0;

    }
}
.profile-page .info-box .info-boxx h4{
    color: var(--grey-color);
    font-size: 15px;
    margin: 0;
    width: 100%;
    font-weight: normal;

}
.profile-page .info-box .info-boxx .all-font-14 span:first-of-type {
    color: var(--grey-color);
}

.toggle {
    font-size: 14px;
}
/*Toggle switch modifications in profile page*/
.profile-page .info-box .info-boxx .toggle-switch {
    height: 20px;

}
@media (min-width:767px) {
    .profile-page .info-box .info-boxx .toggle-switch {
        margin: auto;
    }
}
.profile-page .info-box .info-boxx .toggle-switch::before {
    height: 12px;
    width: 12px;
    font-size: 8px;
    
}

.profile-page .info-box .info-boxx .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}

/*End Overview*/

/*Start Other Data*/
 .profile-page .other-data {
    display: flex;
    gap: 20px;
}
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}
.profile-page .other-data .skills-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    flex-grow: 1;


}
.profile-page .other-data .activities {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    flex-grow: 2;

}
.profile-page .other-data .skills-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.profile-page .other-data .skills-card p {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--grey-color);
    font-size: 15px;
}

.profile-page .other-data .skills-card ul {
    margin: 0;
}
.profile-page .other-data .skills-card ul li {
    padding: 15px 0;

}
.profile-page .other-data .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;

}
.profile-page .other-data .skills-card ul li span {
    display: inline-flex;
    background-color: #eee;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 6px;

}
.profile-page .other-data .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
@media (max-width:767px) {
    .profile-page .other-data .skills-card ul {
        text-align: center;
    }
}
.profile-page .other-data .activities h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.profile-page .other-data .activities p {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--grey-color);
    font-size: 15px;
}
.profile-page .other-data .activities .activity {
    display: flex;
    align-items: center;
}
@media (max-width:767px) {
    .profile-page .other-data .activities .activity {
        text-align: center;
    }
}
.profile-page .other-data .activities .activity .info span:first-child {
    display: block;
    margin-bottom: 10px;
}
.profile-page .other-data .activities .activity .info span:last-child {
    color: var(--grey-color);
}
.profile-page .other-data .activities .activity .date span:first-child {
    display: block;
    margin-bottom: 10px;
}
.profile-page .other-data .activities .activity .date span:last-child {
    color: var(--grey-color);
}
.profile-page .other-data .activities .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .other-data .activities .activity img {
    height: 64px;
    width: 64px;
    margin-right: 10px;
    border-radius: 50%;
   
}
@media (min-width:768px) {
    .profile-page .other-data .activities .activity .date {
        margin-left: auto;
        text-align: right;
    }
}

@media (max-width:767px) {

    .profile-page .other-data .activities .activity {
        flex-direction: column;

    }
    .profile-page .other-data .activities .activity img {
        margin-right: 0;
        margin-bottom: 15px;

    }
    .profile-page .other-data .activities .activity .date {
        margin-top: 15px;
        
    }
}


/*End Other Data*/

/*End Profile*/

/*Start Projects*/

.projects-page h1{
    position: relative;
}
.projects-page {
    display: grid;
    gap: 20px;
    margin: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width:767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10p;
        gap: 10px;
    }
}
.projects-page .project {
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius: 6px;
}
.projects-page .project .date {
    font-size: 13px;
    color: var(--grey-color);
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4 {
    margin: 0;
    font-weight: normal;
}
.projects-page .project p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--grey-color);
}
.projects-page .project .team {
    position: relative;
    min-height: 80px;

}
.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;

}
.projects-page .project .team a:nth-child(2) {
    left: 25px;

}
.projects-page .project .team a:nth-child(3) {
    left: 50px;
    
}
.projects-page .project .team a:nth-child(4) {
    left: 75px;
    
}
.projects-page .project .team a:hover {
    z-index: 1000;
}
.projects-page .project .team a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;

}
.projects-page .project .techs {
    display: flex;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
    justify-content: flex-end;
}
@media (max-width:767px) {
    .projects-page .project .techs {
        flex-direction: column;
    }
}
.projects-page .project .techs span {
    font-size: 13px;
    background-color: #eee;
    border-radius: 6px;
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
}
@media (max-width:767px) {
    .projects-page .project .techs span:not(:last-child) {
        margin-bottom: 15px;
        
    }
}
.projects-page .project .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;

}
.projects-page .project .info .progress {
    background-color: #eee;
    height: 8px;
    width: 260px;
    border-radius: 6px;
    position: relative;
}
.projects-page .project .info .progress span {
    background-color: var(--red-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}
.projects-page .project .info .progress .span-70 {
    background-color: var(--green-color);
}
.projects-page .project .info .progress .span-80 {
    background-color: var(--blue-color);
}
.projects-page .project .info .progress .span-90 {
    background-color: var(--green-color);

}
.projects-page .project .info .progress .span-30 {
    background-color: var(--red-color);
}
@media (max-width:767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
    .projects-page .project .info .progress  {
        margin-bottom: 15px;
    }
}
.projects-page .project .info .price {
    font-size: 14px;
    color: var(--grey-color);
}


/*End Projects*/

/*Start Courses*/

.courses-page {
    display: grid;
    margin: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}
@media (max-width:767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10p;
        gap: 10px;
    }
}
.courses-page .course {
    background-color: white;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.courses-page .course .cover {
    max-width: 100%;
}
.courses-page .course .instructor {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 1px solid black;
    left: 20px;
    top: 20px;
}

.courses-page .course .name-des {
    padding: 20px;
}
.courses-page .course .name-des h4 {
    margin: 0;
}
.courses-page .course .name-des p {
    font-size: 14px;
    color: var(--grey-color);
    margin-top: 15px;
}
.courses-page .course .name-des .description {
    line-height: 1.6;

}

.courses-page .course .info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #eee;
    font-size: 13px;
}
.courses-page .course .info .title {
    background-color: var(--blue-color);
    color: white;
    /*button shape*/
    font-size: 13px;
    width: fit-content;
    border-radius: 6px;
    padding: 4px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    top: -13px;
    height: 27px;

}
.courses-page .course .info .user {
    color: var(--grey-color);
}
.courses-page .course .info .dollar {
    color: var(--grey-color);
}
/*End Courses*/

/*Start Friends*/

.friends-page {
    display: grid;
    gap: 20px;
    margin: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10p;
        gap: 10px;
    }
}
.friends-page .friend {
    position: relative;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}
.friends-page .friend .contact {
    position: absolute;
    left: 10px;
    top: 10px;

}
.friends-page .friend .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;

}
.friends-page .friend .contact i:hover {
    background-color: var(--blue-color);
    color: white;

}
.friends-page .friend .person {
    text-align: center;
}
.friends-page .friend .person img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.friends-page .friend .person h4 {
    margin: 0;
}
.friends-page .friend .person p {
    color: var(--grey-color);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
}
.friends-page .friend .icons {
    position: relative;
    font-size: 14px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.friends-page .friend .icons i {
    margin-right: 5px;

}
.friends-page .friend .icons .vip {
    font-weight: bold;
    color: var(--orange-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}
.friends-page .friend .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friends-page .friend .info .join-date span {
    color: var(--grey-color);
    font-size: 13px;
    
}
.friends-page .friend .info .action-btns a:first-child {
    color: white;
    background-color: var(--blue-color);
    /*button shape*/
    font-size: 12px;
    width: fit-content;
    border-radius: 6px;
    padding: 4px 10px;


}
.friends-page .friend .info .action-btns a:last-child {
    color: white;
    background-color: var(--red-color);
    /*button shape*/
    font-size: 12px;
    width: fit-content;
    border-radius: 6px;
    padding: 4px 10px;

}
/*End Friends*/

/*Start Files*/
.files-page {
    display: flex;
    margin: 20px;
    gap: 20px;
    /*row to the other side,place not affected in mobile*/
    flex-direction: row-reverse;
    /*cancel stretch*/
    align-items: flex-start;
}
@media (max-width:767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    min-width: 260px;
}

.files-page .files-stats h2 {
    margin-top: 0;
    margin-bottom: 15px;

}
@media (max-width:767px) {
    .files-page .files-stats h2 {
        text-align: center;
    }
}
.files-page .files-stats .stats-box {
    display: flex;
    align-items: center;
    font-size: 13px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;

}
.files-page .files-stats .stats-box .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;

}
.files-page .files-stats .stats-box .size {
    margin-left: auto;

}
.files-page .files-stats .stats-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.files-page .files-stats .stats-box .blue {
    color: var(--blue-color);
    background-color: rgb(0 117 255 / 20%);

}
.files-page .files-stats .stats-box .green {
    color: var(--green-color);
    background-color: rgb(34 197 94 / 20%);

}
.files-page .files-stats .stats-box .red {
    color: var(--red-color);
    background-color: rgb(244 67 54 / 20%);

}
.files-page .files-stats .stats-box .orange {
    color: var(--orange-color);
    background-color: rgb(245 158 11 / 20%);

}
.files-page .files-stats .stats-box .info span:last-child {
    color: var(--grey-color);
    display: block;
    margin-top: 5px;
}
.files-page .files-stats .stats-box .size {
    color: var(--grey-color);
}

.files-page .files-stats .upload {
    display: block;
    background-color: var(--blue-color);
    color: white;
    border-radius: 6px;
    width: fit-content;
    font-size: 13px;
    margin: 15px auto 0;
    padding: 5px 10px;
    transition: 0.3s;
}
.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);

}
.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite;
}
.files-page .files-stats .upload i {
    margin: 10px;
}

.files-page .files-content {
    flex: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.files-page .files-content .file {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.files-page .files-content .file i {
    color: var(--grey-color);
    position: absolute;
}
.files-page .files-content .file .icon {
    text-align: center;
}
.files-page .files-content .file .icon img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 64px;
    height: 64px;
    transition: 0.3s;
}
.files-page .files-content .file:hover .icon img {
    transform: rotate(5deg);

}
.files-page .files-content .file .text {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.files-page .files-content .file p {
    font-size: 13px;
    color: var(--grey-color);
}
.files-page .files-content .file .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-color);
    font-size: 13px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}




/*End Files*/

/*Start Plans*/
.plans-page {
    display: grid;
    margin: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width:767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10p;
        gap: 10px;
    }
}
.plans-page .plan {
    background-color: white;
    padding: 20px;
}
.plans-page .plan .top {
    background-color: var(--green-color);
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);

}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);

}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);

}
.plans-page .plan .top h2 {
    color: white;
    margin: 0;
}
.plans-page .plan .top .price {
    color: white;
    font-size: 40px;
    position: relative;
    margin: auto;
    width: fit-content;


}
.plans-page .plan .top .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;

}


.plans-page .plan ul {
    margin: 0;
}
.plans-page .plan ul li {
    padding: 15px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;

}
.plans-page .plan ul li .yes {
    color: var(--green-color);

}
/*Check this*/
.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);

}
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}
.plans-page .plan .join {
    /*button shape*/
    display: block;
    width: fit-content;
    padding: 10px 15px;
    margin: 10px 15px;
    color: white;
    background-color: var(--green-color);
    border-radius: 6px;
    font-size: 15px;
}
.plans-page .plan p {
    
    color: var(--grey-color);
    text-align: center;
    margin-top: 20px;
}



/*End Plans*/












/*Start Animation*/
@keyframes change-color {
    from {
        background-color: var(--blue-color);

    }
    to {
        background-color: white;

    }
    
}

@keyframes go-up {
    0% , 100% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(-5px);

    }
    
}

/*End Animation*/





/*End Content*/



